{% extends 'rango/base.html' %}
{% load socialaccount %}
{% load static %}
{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
	<link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
		rel="stylesheet">
	<div class="jumbotron p-4">
		<h1 class="jumbotron-heading">Login</h1>
	</div>
	<div class="container">
		<form class="form-signin" role="form" method="post" action=".">
			{% csrf_token %}
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" name="username" id="id_username" class="form-control"
				placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name="password" id="id_password" class="form-control"
				placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				value="Submit">Sign in</button>
		</form>
	</div>
	<br />
	<div class="row justify-content-center">
		<p>Or Log in using your existing account from:</p>

	</div>
	<div class="row justify-content-center">
		<div class="col-auto">
			<p>
				<a href="{% provider_login_url 'github' %}">GitHub&nbsp;<img height="25" width="25" src="{% static 'images/github.svg' %}"></a>
			</p>
			<p>
				<a href="{% provider_login_url 'google' %}">Google&nbsp;<img height="25" width="25" src="{% static 'images/google.png' %}"></a>
			</p>
			<p>
				<a href="{% provider_login_url 'facebook' %}">Facebook&nbsp;<img height="25" width="25" src="{% static 'images/facebook.png' %}"></a>
			</p>
		</div>
	</div>
{% endblock %}
